<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.alibaba.com/schema/stat"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.alibaba.com/schema/stat
       http://www.alibaba.com/schema/stat.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd">
    <!--    启动mvc注解驱动-->
    <mvc:annotation-driven/>
    <!--    扫描含有注解的包（控制器所在包）-->
    <context:component-scan base-package="com.soft1851.spring.web.controller"/>
</beans>
